@model ParkyMVC.Models.User
@{
    ViewData["Title"] = "Login";
}
<h1>login</h1>
<form method="POST">
    <input asp-for="Username" type="text" placeholder="Username...."/>
    @* //FLOW: ughh plaintext password inputs  *@
    <input asp-for="Password" type="text" placeholder="Password...."/>
    <button type="submit" value="submit">Login</button>
</form>